<div class="container">
  <section class="row" *ngIf="errorMessage">
    <div id="login-unsuccessful-message" class="alert alert-info col-lg-6">{{ errorMessage }}</div>
  </section>
  <section class="row" *ngIf="logoutMessage">
    <div id="logout-message" class="alert alert-info col-lg-6">{{ logoutMessage }}</div>
  </section>
  <div class="row">
    <form [formGroup]="userForm" class="form-horizontal" novalidate (ngSubmit)="login()">
      <fieldset>

        <legend i18n="@@login.legend">Please login to use this application</legend>

        <div class="form-group">
          <label class="control-label col-lg-2" for="username" i18n="@@login.username">Username</label>
          <div class="col-lg-5">
            <input class="form-control" id="username" type="text" placeholder="Username"
                   formControlName="username" required i18n-placeholder="@@login.username"
                   (blur)="validateOnBlur()"/>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label" for="password" i18n="@@login.password">Password</label>
          <div class="col-lg-5">
            <input class="form-control" id="password" type="password"
                   placeholder="Password" formControlName="password" i18n-placeholder="@@login.password"
                   (blur)="validateOnBlur()"/>
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-offset-2 col-lg-2">
            <button type="submit" class="btn btn-success" i18n="@@login.loginButton"
                    [disabled]="!userForm.valid">Log in
            </button>
          </div>
        </div>

      </fieldset>
    </form>

    <div *ngIf="formErrors.username || formErrors.password"
         id="form-error-messages" class="alert alert-danger">
      <p>{{ formErrors.username }}</p>
      <p>{{ formErrors.password }}</p>
    </div>
  </div>
</div>
