<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-hide"
              aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <span class="glyphicon glyphicon-picture" aria-hidden="true"></span> ClientDatabase</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-nav-hide">
      <ul class="nav navbar-nav">
        <li><a (click)="showAboutAuthor()" [ngStyle]="{'cursor':'pointer'}" i18n="@@navbar.aboutAuthor">About Author</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false" i18n="@@navbar.adminPanel">Admin Panel <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['/clients/new']" i18n="@@navbar.addClient">Add Client</a>
            </li>
            <li role="separator" class="divider"></li>
            <li><a [routerLink]="['/login', {'logout': 'true'}]" i18n="@@navbar.logout">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet name="messages"></router-outlet>
<router-outlet></router-outlet>


